.List {
  padding-top: 6.5rem;
  width: 100%;
}

.List__btnsearch{
  background-color: transparent;
}

.List__search-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-end;
}

.List__search-wrapper input {
  max-width: 50rem;
  margin-right: 1rem;
}

.List__options-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.List__grid {
  display: grid;
  gap: 2rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  padding: 3rem 0;
}

.List__cards {
  background-color: var(--gray);
  padding: 1rem 0;
}

.List__card {
  background-color: var(--white);
  box-shadow: 0 1px 26px rgba(0, 0, 0, 0.03);
  border-radius: 1rem;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.List__card:hover {
  -webkit-transform: scale(1.02); /* Safari and Chrome */
  -moz-transform: scale(1.02); /* Firefox */
  -ms-transform: scale(1.02); /* IE 9 */
  -o-transform: scale(1.02); /* Opera */
  transform: scale(1.02);
  overflow: visible;
}

.List__card img {
  overflow: hidden;
  width: 100%;
  border-radius: 1rem;
  height: 20rem;
  object-fit: cover;
  padding-bottom: 1.2rem;
}

blockquote {
  text-align: center;
}

.List__teacher-type {
  margin: 0.6rem 1.6rem 1.2rem 1.6rem;
  color: var(--gray-160);
  display: flex;
  justify-content: space-between;
}


.List__teacher-about{
  text-align: center;
  padding-bottom: 1.8rem;
}

.List__text-right {
  text-align: right;
}

.List__text-left {
  text-align: left;
}

a > svg {
  margin-right: 0.3rem;
}

a.link.link-primary {
  font-size: 1.3rem !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .px {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .px {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .px {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media only screen and (min-width: 992px) {
  .px {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

@media only screen and (min-width: 1200px) {
  .px {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}


